* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 60px;
  background-color: rgb(147, 147, 245);
}

.main {
  width: 100%;
  flex-grow: 1;
  background-color: rgb(245, 240, 240);
  overflow-y: auto;
}

.light {
  &-container {
    width: 800px;
    height: 500px;
    margin: 20px auto 0 auto;
  }

  &-top {
    position: relative;
    width: 200px;
    height: 100px;
    background-color: rgb(210, 100, 100);
    margin: 20px auto 0 auto;
    border-radius: 50% / 100% 100% 0 0;
  }

  &-bulb {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    width: 70px;
    height: 35px;
    border-radius: 50% / 0 0 100% 100%;
    background: rgb(240, 200, 45);

    &.off {
      background: rgb(0, 0, 0);
    }
  }

  &-cord {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    transform-origin: top center;
    width: 4px;
    height: 100px;
    background: #000;
    cursor: pointer;

    &-end {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 90%);
      width: 10px;
      height: 10px;
      border-radius: 9999px;
      background: #000;
    }
  }
}

.footer {
  width: 100%;
  height: 60px;
  background-color: rgb(177, 240, 166);
}
